input.id  {width: 50px;}
input.num {width: 50px;}
input.is_avail {width: 50px;}
textarea.r99c {width: 600px; height: 40px;}
textarea.test {width: 600px; height: 100px;}
textarea.answer {width: 600px; height: 400px;}

a.solved  {color: white; background: hsl(217,71%,53%);}
a.yet     {color: hsl(217,71%,53%); background: white;}