{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h2>New answer to Problem {{problem.num}}</h2>
  <p>{{problem.problem|safe}}</p>

  <!-- FIXME: display errors -->

  <form method='post'>
    {% csrf-field %}
    <input type='hidden' name='num' value='{{problem.num}}'>
    <textarea name='answer' class='textarea'
     placeholder='replit.com 等で動作確認してから submit すること。動作確認せずにsubmit は減点。'></textarea><br>
    <p>test code:</p>
    <pre>{{problem.test}}</pre>
    <input type='submit' value='submit' class='button is-warning is-small'>
  </form>

  <h3>Same Answers (include yours)</h3>

  {% for a in same %}
  <a href='/comment/{{a.id}}'>{{a.login}}</a>
  &nbsp;
  {% endfor %}

  <h3>Different Answers</h3>

  {% for a in differ %}
  <a href='/comment/{{a.id}}'>{{a.login}}</a>
  &nbsp;
  {% endfor %}

  </div>
{% endblock %}
