{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h2>Answer to Problem {{problem.num}}</h2>
  <p>{{problem.problem}}</p>
  <form method='post'>
    {% csrf-field %}
    <input type='hidden' name='num' value='{{problem.num}}'>
    <textarea name='answer' class='textarea'></textarea><br>
    <p>test code:</p>
    <pre>{{problem.test}}</pre>
    <input type='submit' value='submit'>
  </form>
  <p>Other Answers</p>
  {% for a in answers %}
  <a href='/comment-to/{{a.login}}'>{{a.login}}</a>
  {% endfor %}
  </div>
{% endblock %}
