{% extends "base.html" %}
{% block content %}
  <div class="content">
  <h2>{{answer.login}}'s answer to Problem {{problem.num}}</h2>
  <p>{{problem.problem|safe}}</p>
  <pre class='nocopy'>{{answer.answer}}</pre>

  <form method='post'>
    {% csrf-field %}
    <input type='hidden' name='p_num' value='{{problem.num}}'>
    <input type='hidden' name='a_id' value='{{answer.id}}'>
    <input type='hidden' name='to_login' value='{{answer.login}}'>
    <textarea name='comment' class='textarea'
              placeholder='comment please'></textarea><br>
    <input type='submit' value='comment' class='button is-warning is-small'>
  </form>

  <h3>Comments</h3>
  {% for c in comments %}
  <p>from {{c.from_login}}, at {{c.create_at}}</p>
  <pre>{{c.comment}}</pre>
  {% endfor %}
  </div>
{% endblock %}
