{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Login</h2>
    <p>授業の内容、R99 のルール、テストコードの意味を理解せようとせず、
      他の回答や他の回答についたコメントも読もうとせず、
      ただ単に場所取り、平常点稼ぎのための回答、コメントみたいのが目に付く。
      ふざけた回答、コメントは出すだけマイナス。出さん方がいい。
      目にあまる時は R99 のアカウント止める。
      真面目にやってる人にパワーを注ぎたい。
      これ、読んだ人だけログインすること。</p>
    </p>
    <form method='post'>
      {% csrf-field %}
      <input name='login' placeholder='login'>
      <input name='password' placeholder='password' type='password'>
      <input type='submit' value='login'>
    </form>
    <br>
    <p>or</p>
    <p><a href="/register">register</a></p>
  </div>
{% endblock %}
