{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Login</h2>
    <form method='post'>
      {% csrf-field %}
      <input name='login' placeholder='login'>
      <input name='password' placeholder='password' type='password'>
      <input type='submit' value='login'>
    </form>
    <br>

    <p>or</p>
    <p><a href="/register">register</a></p>

    <ul>
      <li>R99 は試験の当日、0:00 に止めます。
        時間に遅れないよう、ゆっくり熟睡して、試験に臨もう。
      </li>
      <li>(submissions ではなく)solved にグループ課題が入っていた。
        除外してカウントし直し。2022-02-02</li>
      </li>
      <li>回答ゼロでもエラーにしない。2022-01-10</li>
      <li>グループ課題を個人課題に含めない。〆切も作らなくちゃ。2022-01-08</li>
      <li>MCUXpresso のタブをスペース 2 文字に展開。配列の初期化も if のようにやれば大丈夫。
        2022-01-06</li>
      <li>R99 のインデントルールに抵触する投稿を受付けなくした。2021-12-20</li>
      <li>R99 のスペースルールに抵触する投稿を受け付けなくした。</li>
    </ul>
  </div>
{% endblock %}
