{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Login</h2>
    <form method='post'>
      {% csrf-field %}
      <input name='login' placeholder='login'>
      <input name='password' placeholder='password' type='password'>
      <input type='submit' value='login'>
    </form>
    <br>

    <p>or</p>
    <p><a href="/register">register</a></p>

    <ul>
      <li>グループ課題を個人課題に含めない。〆切も作らなくちゃ。2022-01-08</li>
      <li>MCUXpresso のタブをスペース2文字に展開。2022-01-06</li>
      <li>R99 のインデントルールに抵触する投稿を受付けなくした。2021-12-20</li>
      <li>R99 のスペースルールに抵触する投稿を受け付けなくした。</li>
    </ul>
  </div>
{% endblock %}
