{% extends "base.html" %}
{% block content %}
  <div class="content">
   <h2>Problems</h2>
   {% for p in problems %}
   <form methpod='post' action='/admin/problem'>
      {% csrf-field %}
      <input name='id'  class='id'  value={{p.id}} readonly='readonly'>
      <input name='num' class='num' value={{p.num}}><br>
      <textarea name='problem' class='r99c'>{{p.problem}}</textarea><br>
      <textarea name='test' class='r99c'>{{p.test)}}</textarea><br>
      <input type='submit' value='update'>
   </form>
   <hr>
   {% endfor %}
  </div>
{% endblock %}
