{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Ranking</h2>
    <h4>total submissions</h4>
      <p>
      {% for user in submissions %}
      {% ifequal user.login login %}
      <span class="red">{{user.login}}({{user.count}})</span>
      {% else %}
      {{user.login}}({{user.count}})
      {% endifequal %}
      &nbsp;
      {% endfor %}
      </p>


    <h4>problems solved</h4>
      <p>
      {% for user in solved %}
      {% ifequal user.login login %}
      <span class='red'>{{user.login}}[{{user.count}}]</span>
      {% else %}
      {{user.login}}[{{user.count}}]
      {% endifequal%}
      &nbsp;
      {% endfor %}
      </p>

    <h4>comments sent</h4>
    <p>
      {% for c in comments %}
      {% ifequal c.from_login login %}
      <span class='red'>{{c.from_login}}({{c.count}})</span>
      {% else %}
      {{c.from_login}}({{c.count}})
      {% endifequal %}
      &nbsp;
      {% endfor %}
    </p>
{% endblock %}
