{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>{{login}}'s Status</h2>

    <div class="box">
    {% for s in status %}
      <a href="/answer/{{s.n}}" class="{{s.stat}}">{{s.n}}</a>
    {% endfor %}
    </div>

    <h3>Activities</h3>

    <h4>individual activities</h4>

    <p><b>comments sent: </b>{{comments.count}}</p>
    <p><b>solved: </b>(next version)</p>
    <table>
      <tr><th>date</th><th>answers</th></tr>
      {% for row in individual %}
        <tr><td>{{row.create_at}}</td><td>{{row.count}}</td></tr>
      {% endfor %}
    </table>

    <h4>class activities</h4>
    <p><b>recent 10:</b>
      {% for a in recents %}
        <a href='/comment/{{a.id}}'>{{a.login}}</a>,
      {% endfor %}</p>
    <p><b>top 10:</b> (comming soon)</p>

    <table>
      <tr><th>date</th><th>answers</th></tr>
      {% for row in all-answers %}
        <tr><td>{{row.create_at}}</td><td>{{row.count}}</td></tr>
      {% endfor %}
    </table>

    {{all-answers-svg|safe}}

    <h3>Change Password</h3>

    <form method='post' action='/ch_pass'>
      {% csrf-field %}
      <input type='hidden' name='login' value='{{login}}'>
      <p>old <input type='password' name='old'>
         new <input name='new'></p>
    <input type='submit' value='change' class='button is-danger is-small'>
    </form>
  </div>
{% endblock %}
