{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>{{login}}'s Status</h2>

    <div class="box">
    {% for s in status %}
      <a href="/answer/{{s.n}}" class="{{s.stat}}">{{s.n}}</a>
    {% endfor %}
    </div>

   <h3>{{login}} Activities</h4>

    <p>{{individual-chart|safe}}</p>

    <p>
      <b>comments received:</b>
      {% for c in comments-rcvd %}
      <a href='/comment/{{c.a_id}}'>{{c.p_num}}</a>
      &nbsp;
      {% endfor %}<br>
      <b>comments sent: </b>
      <a href='/comments-sent/{{login}}'>{{comments.count}}</a><br>
      <b>problems solved: </b>{{problems-solved}}/99</p>
<!--
    <table>
      <tr><th>date</th><th>answers</th><th>comments sent</th></tr>
      {% for row in individual %}
        <tr><td>{{row.create_at}}</td>
            <td>{{row.count}}</td>
            <td>under construction</td></tr>
      {% endfor %}
    </table>
  -->

    <h3>Class Statistics</h3>

    <p>{{class-chart|safe}}</p>

    <p>
      <b>recent 10:</b>
      {% for a in recents %}
        <a href='/comment/{{a.id}}'>{{a.login}},{{a.num}}</a>
        &nbsp;
      {% endfor %}<br>

      <b>top 20:</b>
      {% for user in top-10 %}
      {{user.login}}({{user.count}})
      &nbsp;
      {% endfor %}<br>

      {% for c in recent-comments %}
      <p>{{c.create_at|date:shortDateTime}},
        <b>{{c.p_num}}</b>,
        from <b>{{c.from_login}}</b> to <b>{{c.to_login}}</b>,<br>&nbsp;&nbsp;
        <a href='/comment/{{c.a_id}}'>{{c.comment|abbreviate:30}}</a></p>
      {% endfor %}
    </p>
<!--
    <table>
      <tr><th>date</th><th>answers</th></tr>
      {% for row in all-answers %}
        <tr><td>{{row.create_at}}</td><td>{{row.count}}</td></tr>
      {% endfor %}
    </table>
  -->
  <hr>

    <h3>Change {{login}}'s password</h3>

    <form method='post' action='/ch_pass'>
      {% csrf-field %}
      <input type='hidden' name='login' value='{{login}}'>
      <p>old <input type='password' name='old'>
         new <input name='new'></p>
    <input type='submit' value='change' class='button is-danger is-small'>
    </form>
  </div>
{% endblock %}
