{% extends "base.html" %}
{% block content %}
  <div class="content">
    <h2>Status</h2>
    <p>user name: {{login}}</p>
    <!--
    <p><a href="/problems">Problems</a></p>
    -->
    <div class="box">
    {% for s in status %}
    <a href="/answer/{{s.n}}" class="{{s.stat}}">{{s.n}}</a>
    {% endfor %}
    </div>

    <h3>History</h3>
    <p>(should be graph, or link)</p>

    <h4>individual</h4>
    {% for row in my-answers %}
    <p>{{row.create_at}} {{row.count}}</p>
    {% endfor %}

    <h4>all</h4>
    {% for row in all-answers %}
    <p>{{row.create_at}} {{row.count}}</p>
    {% endfor %}

    <h3>Change Password</h3>

    <form method='post' action='/ch_pass'>
      {% csrf-field %}
      <input type='hidden' name='login' value='{{login}}'>
      <p>old <input type='password' name='old'>
         new <input name='new'></p>
    <input type='submit' value='change' class='button is-danger is-small'>
    </form>
  </div>
{% endblock %}
